{% extends "taskhub/layout.html" %}

{% load static %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'login.css' %}"/>
{% endblock %}

{% block body %}

    <h2>Register</h2>

    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input autofocus type="text" name="username" placeholder="Username">
        </div>
        <div class="form-group">
            <input type="email" name="email" placeholder="Email Address">
        </div>
        <div class="form-group">
            <input type="password" name="password" placeholder="Password">
        </div>
        <div class="form-group">
            <input type="password" name="confirmation" placeholder="Confirm Password">
        </div>
        <input class="button" type="submit" value="Register">
    </form>

    Already have an account? <a href="{% url 'login' %}">Log In here.</a>

{% endblock %}
