{% extends "auctions/layout.html" %}

{% block body %}
    {% if name %}
        <h2>{{ name }}</h2>
    {% else %}
        <h2>Active Listings</h2>
    {% endif %}

    {% for listing in listings %}
      <a href="{% url 'view_listing' listing.id %}">
        <div class="listing_block">
            <div class="img_container">
            {% if listing.image %}
                <img src="{{ listing.image.url }}"/>
            {% endif %}
            </div>
            <div class="listing_info">
                <h4>{{ listing.title }}
                {% if listing.is_closed %}
                (listing closed)
                {% endif %}
                </h4>
                <h6>Price: ${{ listing.price }}</h6>
                <p>{{ listing.description }}</p>
            </div>
        </div>
      </a>
    {% empty %}
        <h4>No Listings!</h4>
    {% endfor %}
{% endblock %}
